/*Global*/
:root {
    /*Color*/
    --color-white:#ffffff;
    --color-Light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --Color-pastel-light-blue: #bce6f6;
    --color-pastel-dark-blue: #7bb8d3;
    --color-pastel-pink: #f0c8d3;

    /*Font size*/
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;


    /*Font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*Size*/
    --size-border-radius: 4px;

    /*Animation duration*/
    --animation-duration: 300ms;

}
    
    *{
        box-sizing: border-box;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        cursor: default;
    }

    a {
        text-decoration: none;
        color: var(--color-white);
    }
    ul {
        padding-left: 0;
    }
    li {
        list-style: none;
    }
    button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
    }

    /*Typography*/
    h1 {
        font-size: var(--font-large);
        font-weight: var(--weight-bold);
        color: var(--color-black);
        margin: 16px 0px;
      }
      
      h2 {
        font-size: var(--font-medium);
        font-weight: var(--weight-semi-bold);
        color: var(--color-black);
        margin: 8px 0;
      }
      
      h3 {
        font-size: var(--font-regular);
        font-weight: var(--font-regular);
        color: var(--color-black);
        margin: 8px 0;
      }
      
      p {
        font-size: var(--font-regular);
        font-weight: var(--font-regular);
        color: var(--color-black);
        margin: 4px 0;
      }

    /*Navbar*/
    #navbar {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
        color: var(--color-white);
        padding: 16px;
        transition: all var(--animation-duration) ease-in-out;
        z-index: 1;
    }
    #navbar.navbar--dark {
        background-color: var(--Color-pastel-light-blue);
        padding: 8px;
    }
    .navbar__menu {
        display: flex;
    }
    .navbar__logo img{
        width: 132px;
        height: 62px;
        margin-top: 5px;
    }
    .navbar__menu__item {
        padding: 8px 12px;
        margin: 0 4px;
        cursor: pointer;
        border-radius: var(--size-border-radius);
    }
    .navbar__menu__item.active {
        border: 1px solid var(--color-white);
    }
    .navbar__menu__item:hover {
        background-color: var(--color-blue);
    }
    .navbar__toggle-btn {
        position: absolute;
        top: 32px;
        right: 32px;
        font-size: 24px;
        color: var(--color-white);
        display: none;
    }

    /*Home*/
    #home {
        height: 800px;
        background: url("imgs/background-image4.png") center/cover no-repeat;
        padding: 40px;
        padding-top: 120px;
        text-align: center;
    }
    .home__avatar {
        width: 250px;
        width: 250px;
        border-radius: 50%;
        border: 2px solid var(--color-Light-white);
    }
    .home__title,
    .home__description {
        color: var(--color-dark-grey);
    }
    .home__contact{
        color: var(--color-white);
        font-size: var(--font-regular);
        font-weight: var(--weight-bold);
        margin: 24px;
        padding: 8px 12px;
        border: 2px solid var(--color-white);
        border-radius: var(--size-border-radius);
    }
    .home__contact:hover {
        background-color: var(--color-blue);
    }

    /*Section common*/
    .section {
        padding: 50px;
        text-align: center;
       
        margin: auto;
    }
    .section__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    /*About*/
    #about > p {
        color: var(--color-dark-grey);
        font-weight: var(--weight-bold);
       
    }
    .about__majors {
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }
    .major__icon {
        width: 170px;
        height: 170px;
        line-height: 170px; /*line-height를 높이만큼 지정하면 자동으로 중간정렬*/
        font-size: 70px;
        margin: auto;
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        border-radius: 50%;
        margin-bottom: 16px;
    }
    .major__title, .major__description {
        color: var(--color-dark-grey);
    }
    .major__icon i {
        transition: all var(--animation-duration) ease;
    }
    .major__icon:hover i {
        color: var(--color-pink);
        transform: rotate(-30deg) scale(1.1);
    }
    .major__description {
        font-size: var(--font-small);
    }
    .school {
        display: flex;
        align-items: center;
    }
    .school__description {
        margin: 0 16px;
        text-align: left;
    }
    .school__name,
    .school_period {
        color: var(--color-light-grey);
    }
    .school__name {
        font-size: var(--font-small);
    }
    .school_period {
        font-size: var(--font-micro);
    }

    /*Skill*/
    #skills {
        background-color: var(--color-yellow);
    }
    #skills > .section__container > p {
        color: var(--color-dark-grey);
        font-weight: var(--weight-semi-bold);
    }
    .skillset__title {
        color: var(--color-white);
        font-weight: var(--weight-semi-bold);
    }
    .skillset {
        display: flex;
        background-color: var(--color-light-grey);
        color: var(--color-Light-white);
        margin: 20px 0;
    }
    .skillset__left {
        flex-basis: 60%;
        background-color: var(--color-dark-grey);
        padding: 20px 40px;
    }
    .skill {
        margin-bottom: 32px;
    }
    .skill_description {
        display: flex;
        justify-content: space-between;
    }
    .skill__bar {
        width: 100%;
        height: 3px;
        background-color: var(--color-grey);
    }
    .skill__value {
        height: 3px;
        background: 
        linear-gradient(to right, var(--color-pink), var(--color-orange));
}
    .skillset__right {
        flex-basis: 40%;
    }   
    .tools {
        background-color: var(--color-grey);
    }
    .tools,
    .etc {
        padding: 20px;
    }

    /*Work*/
    .work__categories {
        margin: 40px;
    }
    .category__btn {
        border: 1px solid var(--color-dark-white);
        border-radius: var(--size-border-radius);
        font-size: var(--font-regular);
        padding: 8px 48px;
    }
    .category__btn.active,
    .category__btn:hover {
        background-color: var(--color-blue);
        color: var(--color-white);
    }
    .category__btn.active .category__count,
    .category__btn:hover .category__count{
        opacity: 1;
        top: 0;
    }
    .category__count {
        background-color: var(--color-orange);
        border-radius: 50%;
        color: var(--color-white);
        width: 24px;
        height: 24px;
        display: inline-block; /*한줄 안에 차지하기 위하여 인라인 블록을 줌*/
        line-height: 24px; /*높이랑 똑같이 설정해주면 알아서 중간으로 들어오게됨*/
        position: relative;
        top: -20px;
        left: 4px;
        opacity: 0;
        transition: all var(--animation-duration) ease-out;
    }
    .work__projects {
        display: flex;
        flex-wrap: wrap; /*아이템이 꽉차면 줄바꿈*/
        justify-content: center;
        opacity: 1;
        transition: all var(--animation-duration) ease-in;
    }
    .work__projects.anim-out {
        opacity: 0.6;
        transform: scale(0.96) translateY(40px);
    }
    .project {
        position: relative;
        width: 280px;
        height: 250px;
        margin: 2px;
        background-color: var(--color-Light-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project.invisible {
        display: none;
    }
    .project__img {
        max-width: 100%;
        max-height: 100%;
    }
    .project__description {
        position: absolute;
        background-color: #000000;
        display: flex;
        flex-direction: column; /*두줄로 나타냄*/
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(10px);
        transition: all var(--animation-duration) ease-in;
    }
    .project:hover .project__description {
        opacity: 0.8;
        transform: translateY(0px);
    }
    .project__description h3 {
        color: var(--color-orange);
        font-size: var(--font-medium);
    }

    .project__description span {
        color: var(--color-white);
    }
    .project__description h3::after {
        content: '';
        display: block;
        position: relative;
        left: 50%;
        width: 25px;
        height: 2px;
        margin-left: -12px;
        margin-top: 8px;
        background-color: var(--color-dark-white);
    }

    /*Contact*/
    #contact {
        background-color: var(--color-pastel-pink);
    }
    .contact__title, 
    .contact__email,
    .contact__rights {
        color: var(--color-white);
    }
    .contact__title {
        margin: 32px 0;
    }
    .contact__links {
        font-size: var(--font-large);
        margin: 24px 0;
        transition: all var(--animation-duration) ease-in;
    }
    .contact__links i:hover {
        transform: scale(1.1);
        color: var(--Color-pastel-light-blue);
    }

    /*Scroll*/
    .arrow-up{
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 40px;
        color: var(--color-white);
        background-color: var(--color-blue);
        border-radius: 50%;
        opacity: 0;
        pointer-events: none; /*안보일때는 클릭이 안되도록 함*/
        transition: all 300ms ease-in;
    }
  
    .arrow-up.visible {
        opacity: 1;
        pointer-events: auto;
       
    }






    /*For below 768px screen width*/
    @media screen and (max-width: 768px) {
        .navbar__toggle-btn {
            display: block;
        }
        #navbar {
            flex-direction: column; /*두줄로 만들어줌*/
            align-items: flex-start; /*왼쪽으로 정렬됨*/
        }
        .navbar__menu {
            flex-direction: column;
            text-align: center;
            width: 100%;
            display: none;
        }
        #home {
            height: 70%;
        }
        #home h1 {
            font-size: var(--font-medium);
        }
        #home h2 {
            font-size: var(--font-regular);
        }
        .about__majors {
            flex-direction: column;
        }
        .major {
            margin-bottom: 38px;
        }
        .skillset {
            flex-direction: column;
        }
        .project {
            flex-grow: 1; /*화면에 딱 맞게 해줌*/
        }
    }

